/* Scalingo design system variables */

body
  --primary-orange-100: #YYYYYY
  --primary-orange-200: #FBBBA2
  --primary-orange-300: #F65516
  --primary-orange-400: #BF4311
  --primary-orange-500: #9F390D
  --primary-orange-600: #89320B
  --primary-orange-700: #732A09
  --primary-orange-800: #682708
  --primary-orange-900: #481C04
  --primary-orange-1000: #271201

  --primary-purple-100: #D8D2F4
  --primary-purple-200: #9484E1
  --primary-purple-300: #3A1DB4
  --primary-purple-400: #351B96
  --primary-purple-500: #301878
  --primary-purple-600: #2D1764
  --primary-purple-700: #291550
  --primary-purple-800: #281446
  --primary-purple-900: #231128
  --primary-purple-1000: #1C0E00

  --primary-brown-100: #F4F3F2
  --primary-brown-200: #E8E7E5
  --primary-brown-300: #C6C3BF
  --primary-brown-400: #99938C
  --primary-brown-500: #8D8680
  --primary-brown-600: #827A73
  --primary-brown-700: #60564D
  --primary-brown-800: #493E33
  --primary-brown-900: #33261A
  --primary-brown-1000: #1C0E00

  --state-success-100: #E8FFFB
  --state-success-200: #BFFFF4
  --state-success-300: #96FFED
  --state-success-400: #6EFFE5
  --state-success-500: #42FFDF
  --state-success-600: #19EDCA
  --state-success-700: #03C5A4
  --state-success-800: #019C82
  --state-success-900: #027360
  --state-success-1000: #004B3F

  --error-100: #FFF3EF
  --error-200: #FFD4CE
  --error-300: #FFB6AC
  --error-400: #FF988A
  --error-500: #FE7A68
  --error-600: #DC6150
  --error-700: #BA4B3B
  --error-800: #983629
  --error-900: #76261B
  --error-1000: #54180F

  --warning-100: #FFF7ED
  --warning-200: #FFEACD
  --warning-300: #FFDCAD
  --warning-400: #FFCF8D
  --warning-500: #FFB44E
  --warning-600: #E4972E
  --warning-700: #E4972E
  --warning-800: #BB7413
  --warning-900: #925400
  --warning-1000: #693D00

  --gray-000: #FFFFFF
  --gray-100: #F5F7FA
  --gray-200: #E3E7EB
  --gray-300: #CBD2D9
  --gray-400: #9AA5B1
  --gray-500: #7B8794
  --gray-600: #606E7C
  --gray-700: #52606D
  --gray-800: #3E4C59
  --gray-900: #323F4B
  --gray-1000: #1F2933

  --blue-100: #EBEFFF
  --blue-200: #C1CBFF
  --blue-300: #96A7FF
  --blue-400: #6B83FF
  --blue-500: #3D5AF1
  --blue-600: #051569
  --blue-700: #2A44CF
  --blue-800: #1B32AD
  --blue-900: #0E218B
