# CODEOWNERS - Automatic assignment for files modified by Dependabot

# Ruby (bundler)
Gemfile.lock @samiFakhfakhScalingo @TheoPouletSouchard

# Github Actions
.github/workflows/* @samiFakhfakhScalingo @TheoPouletSouchard
